html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.gantt-container {
    width: 100%;
    height: 100%;
}

/* no split styling */


.gantt_cal_light .gantt_section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.gantt_custom_field {
    flex: 1;
}

.gantt_custom_field input {
    width: 100%;
}

.gantt_task_progress {
    text-align: left;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 600;
}

.task-blue .gantt_task_content {
    background-color: #4c6ef5;
}

.task-green .gantt_task_content {
    background-color: #2f9e44;
}

.task-orange .gantt_task_content {
    background-color: #f08c00;
}

.task-purple .gantt_task_content {
    background-color: #9c36b5;
}

.task-gray .gantt_task_content {
    background-color: #6c757d;
}
