body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #332f2b;
    color: white;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color: #cc930e;
    font-size: 32px;
}

h4 {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    color: #cc930e;
    font-size: 32px;
}

button {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    font-size: 18px;
    cursor: pointer;
    background-color: #cc930e;
    color: #332f2b;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #8c6d34;
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

#appVersion {
    position: fixed;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #ccc;
}

#githubIcon {
    bottom: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#githubIcon:hover {
    transform: scale(1.2);
}

.sidebar {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
}

.sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

span {
    font-size: 30px;
    cursor: pointer;
    color: #cc930e;
    position: absolute;
    left: 20px;
}